[build]
  command = "cd blog && npm install && npm run build && cd .. && rm -rf blog-deploy && mkdir -p blog-deploy && cp -r blog/out/* blog-deploy"
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/blog/*"
  to = "/blog-deploy/:splat"
  status = 200

[[redirects]]
  from = "/blog"
  to = "/blog-deploy/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/chat"
  to = "/.netlify/functions/chat"
  status = 200

[[redirects]]
  from = "/blog/*"
  to = "/blog/:splat"
  status = 200
